body {
   font-family: Arial, Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.6em;
}

.header, .footer {
    padding: 5px 50px;
    background: rgba(18, 92, 155, 0.90);
    height: 75px;
}


.layout-pos {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.main-menu {
    position: absolute;
    top: 5px;
    right: 5px;
}

.main-menu li{
    display:inline-block;
    margin-right:5px;
}

.main-menu a{
    display:block;
    padding:8px 10px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background-color: #363636;
    width: 120px;
    height: 20px;
    text-align: center;
}

.main-menu a:hover{
    color:#363636;
    background-color: #dad3ce;
}

.main-menu .active a {
    color:#363636;
    background-color: #FFFFFF;
}

.logo {
    padding-left: 20px;
    padding-top: 5px;
}

.logo a {
    height: 60px;
    width: 130px;
    display: block;
    text-decoration: none;
    color: #363636;
}

.content {
    background: rgba(56, 56, 56, 0.50);
    color: #ffffff;
    padding: 10px 50px;
    min-height: 1000px;
}

.content h1 {
    color: #ffffff;
}

.content img {
    padding-right: 10px;
    width: 180px;
    height: 150px;
    float:left;
}


.submit-wrapper {
    position: absolute;
    right: 15px;
    bottom: 5px;
}

.submit-wrapper input {
    width: 150px;
    height: 40px;
}

.btn a, .edit .sub {
    display:block;
    padding:4px 5px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    background-color: #292929;
    width: 120px;
    height: 20px;
    text-align: center;
    margin-left: 40%;
}

.edit .sub {
    height: 30px;
    margin-left: 10%;
}

.edit {
    position: relative;
}

.edit label {
    display: block;
    padding-left: 190px;
}

.edit input, .edit select {
    position: absolute;
    left: 295px;
    width: 300px;
}
